<!doctype html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1 class="color-rojo" th:text="${titulo}"></h1>
    <h2 class="color-azul">Decorando con estilos css recursos estáticos</h2>
    <img th:src="@{/css/images/Captura de pantalla (1).png}">
    <table th:if="${usuarios.size() > 0}">
        <thead>
        <tr>Nombre</tr>
        <tr>Apellido</tr>
        <tr>Email</tr>
        </thead>
        <tbody>
        <tr th:each="usuario: ${usuarios}">
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellido}"></td>
            <td th:text="${usuario.email}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>